<div class='wyze-nav'>
  <div class='wrap'>
    <div class='left-nav'>
      <ul>
        <li class='desktop-only'>
          <a href='https://wyze.com/shop-wyze'>Shop</a>
        </li>
        <li class='dropdown-toggle'>
          <a href='/' class='desktop-only'>Forum</a><span
            class='mobile-only'
          >Forum</span>
          <ul class='community-dropdown'>
            <li><a href='/c/news'>Wyze News</a></li>
            <li><a href='/c/wishlist/l/votes'>Wishlist</a></li>
            <li><a href='/c/beta'>Wyze Beta</a></li>
            <li><a href='/c/wyze-ai'>Wyze AI</a></li>
            <li><a href='/c/cameras'>Cameras</a></li>
            <CustomNewCount />
            <li><a href='https://forums.wyzecam.com/'>See All</a></li>
          </ul>
        </li>
        <li class='desktop-only'>
          <a href='https://www.facebook.com/groups/298350110642283'>Facebook</a>
        </li>
        <li class='desktop-only'>
          <a href='https://www.reddit.com/r/wyzecam'>Reddit</a>
        </li>
        <li class='desktop-only'>
          <a href='https://wyze.com/community'>Social Media</a>
        </li>
      </ul>
    </div>

    {{#if this.siteSettings.logo}}
      <div class='logo'>
        <a
          href='https://www.wyze.com/?utm_source=forum&utm_medium=website&utm_campaign=wyze_forums'
        >
          <img class='' src={{this.siteSettings.logo}} />
        </a>
      </div>
    {{/if}}
    <div class='right-nav'>
      <ul>
        <li class='mobile-only'>
          <a href='https://www.facebook.com/groups/298350110642283'>Facebook</a>
        </li>
        <li class='mobile-only'>
          <a href='https://www.reddit.com/r/wyzecam'>Reddit</a>
        </li>
        <li><a href='https://support.wyzecam.com/'>Support</a></li>
        <!-- <li><a href="https://wyzecam.com/my-account/">Sign In</a></li> -->
      </ul>
    </div>
  </div>
</div>
