@import "common/foundation/variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

// Global

html {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
}

.alert.alert-info { // Site alerts
  background: $primary-very-low;
  border: 1px solid $primary-low;
}

$border-radius: 3px; // Controls all border radii throughout the theme

// Buttons, navs

button, 
.btn, .btn[href],
.list-controls .select-kit.categories-admin-dropdown button, 
.list-controls .select-kit.tags-admin-dropdown button, 
.list-controls .select-kit.category-notifications-button button, 
.list-controls .select-kit.tag-notifications-button button,
#topic-footer-buttons .topic-notifications-button .btn { // General button styles
  padding: 6px 16px;
  border: 1px solid $tertiary;
  text-transform: uppercase;
  background: transparent;
  color: $tertiary;
  border-radius: $border-radius;
  .d-icon {
    opacity: 1;
  }
  .discourse-no-touch & {
    &:hover {
      background: $tertiary;
      color: $secondary;
    }
  }
  &.btn-primary {
    border-color: $tertiary;
    background: $tertiary;
    color: $secondary;
    .discourse-no-touch & {
      &:hover {
        border-color: darken($tertiary, 10%);
        background: darken($tertiary, 10%);
      }
    }
  }
  &.btn-danger {
    background: $danger;
    border-color: $danger;
    color: $secondary;
    .discourse-no-touch & {
      &:hover {
        background: darken($danger, 10%);
        border-color: darken($danger, 10%);
      }
    }
  }
}

.select-kit.dropdown-select-box.composer-actions .d-icon {
  border-radius: $border-radius;
}

.select-kit.dropdown-select-box .select-kit-row .icons .d-icon {
  border: none;
}

.btn-flat .d-icon {
  opacity: 1;
}

.d-editor-button-bar .btn { // Buttons in the post composer 
  border: none !important;
}

#reply-control .reply-to .composer-controls button {
  &:hover {
    background: transparent;
  }
}


.nav-pills>li {
  &.active>a {
    border: 1px solid $quaternary;
  }
 >a {
   border-radius: $border-radius; 
   padding: 6px 16px;
    text-transform: uppercase;
    border: 1px solid transparent;
    &:hover {
      background: transparent;
      border: 1px solid $quaternary;
      color: $quaternary;
    }
 }

}

.list-controls .btn {
  font-size: $font-0;
}

.list-controls .combo-box .combo-box-header {
  height: auto;
  padding: 3px 6px 4px 10px;
}

// Header 

.d-header {
  box-shadow: none;
}

.user-menu .notifications li,
.select-kit .select-kit-row.is-highlighted {
  background: lighten($tertiary, 54%);
}

// Category list 

.category-list tbody .category h3 {
  font-size: 1.4em;
}

// Topic list 

tbody {
  border-width: 1px;
}

.list-controls .combo-box .combo-box-header {
  border-radius: $border-radius;
  border-color: $tertiary;
  color: $tertiary;
}

.topic-list-item:nth-child(odd) { // Tiger-striping on topic list
  background: rgba($primary-very-low, .75);
}

// Topic 

.topic-map section:nth-of-type(2) { // Removing extra border
  border: none;
}

.timeline-container { // Timeline scrollbar in topic
  .btn.toggle-admin-menu {
    border: none;
    margin-left: -.75em;
  }
  .topic-timeline .timeline-scrollarea {
    border-color: $primary-low;
  }
  .topic-timeline .timeline-handle {
    background: $tertiary;
  }
  .timeline-footer-controls {
    .btn {
      border: none;
      margin-left: -.75em;
    }
  }
}

// Custom homepage layout

.show-custom-homepage {
  #main-outlet { // Remove default padding on custom homepage
    padding-top: 0;
  }
}

.custom-homepage-wrapper {
  padding-top: 63px;
  h2 {
    font-size: 1.75em;
    @media screen and (max-width: 750px) {
      font-size: 1.5em;
    }
  }

  .custom-homepage-columns { // Two column section with post feeds
    display: flex;
    margin-top: 2em;  
    @media screen and (max-width: 750px) {
      flex-wrap: wrap;
    }
    .col {
      width: 50%;
      @media screen and (max-width: 750px) {
        width: 100%;
      }
    }
    .col-1 {
      margin-right: 1.5em;
       + .col-2 {
      margin-left: 1.5em;
       }
    }
    @media screen and (max-width: 750px) {
      .col-1, .col-2 {
        margin: 0 0 2em 0 !important;
      }
    }
    .header-wrapper {
      display: flex;
      margin-bottom: 1em;
      align-items: flex-start;
      button {
        margin-left: auto;
      }
    }
    .topic-list { // Hides extra details in topic feeds
      thead, td.posts-map, td.num.views, td.category {
        display: none;
      }
      td.posters {
        a {
          display: none;
          &:last-of-type {
            display: inline-block;
          }
        }
      }
      .main-link {
        width: 80%;
      }
    }
  }

  .custom-homepage-wide { // 3 column section
    padding: 1.25em 0 .5em;
    margin: 2.5em 0 2em 0;
    background: $primary-very-low;
    @media screen and (max-width: 750px) {
      margin: 1em 0 2em;
    }
    .wrap {
      padding: 2em 0 2.5em;
      @media screen and (max-width: 1110px) {
        padding: 3em 8px;
      }
      @media screen and (max-width: 750px) {
        padding: 1em 8px 2em;
      }
    }

    .custom-homepage-wide-flex-wrapper {
      display: flex;
      margin: 1em -1.7% 0;
      @media screen and (max-width: 450px) {
        flex-wrap: wrap; 
      }
    }
    .custom-homepage-wide-topic { // Topic container
      flex: 1 1 25%;
      margin: 0 1.65% 2%;
      border: 1px solid $primary-low;
      background: $secondary;
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 750px) {
        &:last-of-type {
          display: none;
        }
      }
      @media screen and (max-width: 450px) {
        flex: 1 1 100%;
        margin-bottom: 1em;
        &:last-of-type {
          display: none;
          margin-bottom: 0;
        }
      }
      a {
        color: $primary;
      }
      h3 {
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        padding: 1em 2em;
        font-size: $font-up-1;
        font-weight: normal;
        min-height: 75px;
        background: $secondary;
       
      }
    }
    .custom-homepage-wide-title { // Headline
      text-transform: capitalize;
      display: flex;
      margin-bottom: 1.5em;
      button {
        align-self: flex-start;
        margin-left: auto;
      }
      @media screen and (max-width: 450px) {
        margin-bottom: .25em;
        flex-wrap: wrap; 
        text-align: center;
        button {
          display: none;
        }
      }
    }
    .custom-homepage-wide-topic-responses { // Post count, like count
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
    .custom-homepage-wide-topic-info { // Post count, like count
      box-sizing: border-box;
      width: calc(100% - 2em);
      padding: 1em 0;
      margin: 0 1em;
      background: $secondary;
      border-top: 1px solid $primary-low;
      display: flex;
      color: $primary-medium;
      i {
        margin-right: .25em;
        color: $primary-low-mid;
      }
      a {
        color: $primary-medium;
      }
   
      img {
        max-width: 40px;
        margin-top: .15em;
        margin-right: .5em;
        border-radius: 100%;
      }
    }
  }

  .homepage-category-boxes { 
    display: flex;
    flex-wrap: wrap;
    margin: 1em -1.7% 1em;
    @media screen and (max-width: 700px) {
      margin-top: 1em;
    }
    a.box {
      min-width: 0;
      &:nth-of-type(n+#{$homepage_categories}) { // Setting for numbers of category to show
        display: none;
      }
      @if $categories_per_row == "3" { // 3 columns
        flex: 0 1 30%;
        margin: 0 1.65% 2%; 
        @media screen and (max-width: 700px) {
          flex: 0 1 46.7%;
          margin: 0 1.65% 2%;  
          &:nth-of-type(n+3) {
            display: none;
          }
        } 
        @media screen and (max-width: 375px) {
          flex: 0 1 100%;
          margin: 0 0 2%;  
          img {
            display: none;
          }
        }
      }
      @if $categories_per_row == "4" { // 4 columns
        flex: 0 1 21.7%;
        margin: 0 1.65% 2%;  
        @media screen and (max-width: 820px) {
          flex: 0 1 30%;
          margin: 0 1.65% 2%;  
          &:nth-of-type(n+4) {
            display: none;
          }
        }
        @media screen and (max-width: 700px) {
          flex: 0 1 46.7%;
          margin: 0 1.65% 2%;  
          &:nth-of-type(n+3) {
            display: none;
          }

        }
        @media screen and (max-width: 375px) {
          flex: 0 1 100%;
          margin: 0 0 2%;  
          img {
            display: none;
          }
        }
      }
      &.show {
        display: block !important;
      }
    }
  
    .homepage-category-box { // Category container
      border: 1px solid $primary-low;
      padding: 1em;
      text-align: center; 
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .category-image-wrapper {
        margin: 0 auto;
      }
      img {
        border-radius: 100%;
        width: 100%;
        max-height: 150px;
        max-width: 150px;
      }
      h2 {
        color: $primary;
        width: 100%;
        margin: 0;
        font-size: $font-up-1;
        text-align: center;
      }
    }
  }
}

.wrap-category-boxes {
  margin-top: 2em;
}

.custom-homepage-category-title {
  display: flex;
  @media screen and (max-width: 350px) {
    flex-wrap: wrap;
    justify-content: center;
    .homepage-category-expansion {
      margin: auto;
    }
  }
}

.homepage-category-expansion {
 margin-left: auto;
}


// Carousel Styles

@media screen and (max-width: 1110px) {
  .wrap.carousel-wrap {
    padding: 0;
    margin-bottom: 3em;
  }
}

.jcarousel-wrapper { // required
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 750px) {
    margin-bottom: 2em;
  }
}

.jcarousel { // required
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul { // required
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li { // required
  float: left;

  iframe, video {
    height: 618px;
    width: 100%;
    max-height: unset;
    @media screen and (max-width: 1110px) {
      width: 100%;
      height: calc(100vw * .556);
    }
    
  }
}

.jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

// Carousel Controls 

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 3em;
  height: 3em;
  text-align: center;
  background: $tertiary;
  color: $secondary;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all .25s;
  border-radius: $border-radius;
  &:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.21);
    background: darken($tertiary, 10%);
  }

  i {
    color: $secondary;
  }

}

.jcarousel-control-prev {
  left: -15px;
  @media screen and (max-width: 1110px) {
    left: 0;
    opacity: .8;
    border-radius: 0 $border-radius $border-radius 0;
    width: 2em;
  }
}

.jcarousel-control-next {
  right: -15px;
  @media screen and (max-width: 1110px) {
    right: 0;
    opacity: .8;
    border-radius: $border-radius 0 0 $border-radius;
    width: 2em;
  }
}
